---
import { Image } from 'astro:assets';

import imageMetadata from "../content/paintings/paintings_metadata/paintings.json"

import { getCollection } from "astro:content";
const paintings = await getCollection("paintings");
---
    <!-- 

<div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-3 mb-5 mx-auto w-full px-4">
  {
    imageMetadata.map((img_metadata) => (
      <Image
        src={img_metadata.image}
        width="600"
        alt="Paintings"
        class="mb-3 w-full rounded"
      />
    ))
  }

</div>

  -->


  <div class="p-8">
    <h1 class="text-5xl font-bold text-center my-8">Gallery</h1>
    <div class="mx-auto container max-w-screen-sm grid grid-cols-2 gap-8">
      {
        paintings.map((item) => (
          <a
            href={`/gallery/${item.id}`}
            class="group transition-all mb-4 block"
          >
            <Image
              src={item.data.cover}
              alt={item.data.title}
              format="avif"
              width={720}
              quality="mid"
              class:list={[
                "rounded-lg transition-all",
                "group-hover:shadow-lg group-hover:opacity-90"
              ]}
            />
            <div class="mt-4 text-center text-neutral-700">
              <strong class="font-normal">{item.data.title}</strong>
              <p class="text-xs">{item.data.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
  