---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "A propos";

const identity = {
  firstName: "Michel Lepotvin",
  country: "France",
  occupation: "Dessinateur publicitaire, photographe",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["Peintre", "Photographe", "Dessinateur publicitaire", "Ecrivain"];

const skillColor = "navy";

import photo_michel from "../content/paintings/autre/img267a.jpg";
import photo_expo1 from "../content/paintings/autre/premiere_expo_1.jpg";
import signature from "../content/paintings/autre/img272a.jpg";

import { Image } from 'astro:assets';

---
<BaseLayout pageTitle={pageTitle}>


  <h2>Michel Lepotvin (1934 - 2018)</h2>


  <p> {identity.firstName} : {identity.occupation}. {identity.country}. </p>

  <p>
    Peintre, photogrpahe, dessinateur publicitaire et écrivain.
    Michel Lepotvin a peint la Corse et le sud de la France, colorés et ensoleillés.
  </p>


  <Image src= {photo_michel} alt="" width="300" />
  <Image src= {photo_expo1} alt="" width="300" />
  <Image src= {signature} alt="" width="300" />
  

</BaseLayout>