---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "A propos";

const identity = {
  firstName: "Michel Lepotvin",
  country: "France",
  occupation: "Dessinateur publicitaire, photographe",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["Peintre", "Photographe", "Dessinateur publicitaire", "Ecrivain"];

const skillColor = "navy";
---
<BaseLayout pageTitle={pageTitle}>


  <h2>Michel Lepotvin (1934 - 2018)</h2>


  <p> {identity.firstName} : {identity.occupation}. {identity.country}. </p>

  Michel Lepotvin se passione pour la Corse et le sud de la France, qu'il peint colorés, et ensoleillés.


  <p>Occupations :</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>


</BaseLayout>