---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Michel Lepotvin";

import { Image } from 'astro:assets';
import myImage1 from  "../content/paintings/abstrait/abs-12.png";
import myImage2 from  "../content/paintings/paysages/Baou-18.jpg";
import myImage3 from  "../content/paintings/1965/Expo 1965 - 2.jpg";
import myImage4 from  "../content/paintings/fleurs/img027.jpg";

---
<BaseLayout pageTitle={pageTitle}>
  <h2> Peintures </h2>

    <div>  
      <Image src= {myImage1} alt="" width="400" /> 
      <a href={"/gallery_abstrait"}>{"Abstrait"}</a>
    </div>

    <div>  
      <Image src= {myImage2} alt="" width="400" />
      <a href={"/gallery_paysages"}>{"Paysages"}</a>
    </div>

    <div>  
      <Image src= {myImage3} alt="" width="400" />
      <a href={"/gallery_1965"}>{"1965"}</a>
    </div>


    <div>  
      <Image src= {myImage4} alt="" width="400" />
      <a href={"/gallery_fleurs"}>{"Fleurs"}</a>
    </div>

</BaseLayout>